@model projet_asp.Models.Section

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Groupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groupe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(projet_asp.Resources.MyResource.edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(projet_asp.Resources.MyResource.back, "Index")
</p>
