@model IEnumerable<projet_asp.Models.Admin>

@{
    ViewBag.Title = "Index";
}
<body style="background-image: url(../../Assets/7072637.jpg); background-size: 100%; position: absolute; bottom: 40px; left: 25%; overflow: hidden; }">
    <div style="color: white; font-size: 50px; font-family: 'Times New Roman'; font-weight: bolder; position: absolute; top: -80px; text-align: center; width: 80%; margin-left: -15px; ">Espace Adminstratif</div>
    <div class="jumbotron" style="background-color: transparent;">
        <br />
        <br />
        <p>
            <a style="background-color: aqua;">
                @Html.ActionLink("Etudiants Validés", "Validé", "Etudiants", null, new { @class = "btn btn-success btn-lg", @style = "background-color: transparent; font-size: 35px;" })
            </a>
            <a>
                @Html.ActionLink("Nouveaus Etudiant", "No_Validé", "Etudiants", null, new { @class = "btn btn-success btn-lg", @style = "background-color: transparent; font-size: 35px;" })
            </a>
        </p>
    </div>
</body>
