
@{
    ViewBag.Title = "ValidationCompte";
}

<h2></h2>
<h2></h2>
<p>
    
    
    Votre compte a été créé avec succès. Veuillez attendre la validation de votre compte par les administrateurs du système.



</p>

<div>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-default" })
</div>
