
@{
    ViewBag.Title = "ValidationCompte";
}

<body style="background-image: url(../../Assets/img/pexels-pixabay-268415.jpg);}">

    <h2></h2>
    <h2></h2>
    <p style="color: white; font-size: 250%;">


        Votre compte a été créé avec succès. Veuillez attendre la validation de votre compte par les administrateurs du système !!



    </p>

    <div>
        @Html.ActionLink(projet_asp.Resources.MyResource.back, "Index", "Home", null, new { @class = "btn btn-default" })
    </div>
</body>
